In [1]:
import pandas as pd
from datetime import datetime
from copy import deepcopy

In [12]:
url = "https://www.expansion.com/mercados/cotizaciones/indices/ibex35_I.IB.html"

web = pd.read_html(url, encoding='ISO-8859-1', decimal=',', thousands='.')

for table in web:
    if 'Valor' in table.columns and 'Var.' in table.columns:
        tabla_cotizaciones = table
        break

In [13]:
tabla_cotizaciones

,Valor,Último,Var. %,Var.,Ac. % año,Máx.,Mín.,Vol.,Capit.,Hora,Unnamed: 10
0,ACCIONA,108.900,1.68,1.80,-14.68,108.900,106.500,89391,5974,17:35,NaN
1,ACCIONA ENER,19.070,0.00,0.00,-30.46,19.200,18.950,253769,6193,17:39,NaN
2,ACERINOX,9.980,1.32,0.13,-3.35,9.980,9.820,652057,2700,17:35,NaN
3,ACS,38.860,0.31,0.12,1.78,39.040,38.720,358195,10557,17:35,NaN
4,AENA,191.000,-0.10,-0.20,21.51,192.500,190.700,87691,28650,17:35,NaN
5,AMADEUS IT GROUP,63.360,0.03,0.02,-0.39,63.780,62.980,304103,28544,17:35,NaN
6,ARCELORMITTAL,21.660,0.65,0.14,-14.93,21.710,21.550,96174,19013,17:35,NaN
7,BANCO SABADELL,1.885,1.23,0.02,73.05,1.885,1.863,8079366,10258,17:43,NaN
8,BANKINTER,7.784,2.56,0.19,38.43,7.786,7.600,1981489,6997,17:35,NaN
9,BBVA,9.606,0.13,0.01,21.07,9.682,9.572,4806696,55362,17:35,NaN
10,CAIXABANK,5.134,2.56,0.13,49.83,5.134,5.020,8163658,37314,17:35,NaN
11,CELLNEX TELECOM,31.310,0.26,0.08,-12.17,31.350,31.030,680282,21270,17:35,NaN
12,COLONIAL,5.590,0.27,0.02,-10.67,5.615,5.530,531098,3016,17:35,NaN
13,ENAGAS,13.150,1.94,0.25,-7.00,13.150,12.910,797143,3445,17:42,NaN
14,ENDESA,18.075,1.57,0.28,0.56,18.075,17.865,944067,19137,17:39,NaN
15,FERROVIAL,37.140,0.43,0.16,12.48,37.240,36.860,842739,27684,17:35,NaN
16,FLUIDRA,19.590,0.98,0.19,5.55,19.640,19.410,201178,3832,17:35,NaN
17,GRIFOLS,8.630,2.49,0.21,-44.16,8.678,8.250,1891464,3678,17:42,NaN
18,IAG,2.063,0.93,0.02,15.83,2.082,2.039,11196929,10256,17:35,NaN
19,IBERDROLA,11.835,-0.80,-0.10,1.40,12.005,11.785,10149827,73850,17:37,NaN
20,INDITEX,45.690,0.00,0.00,17.88,45.860,45.370,835088,142400,17:41,NaN
21,INDRA,19.150,1.06,0.20,36.79,19.310,18.980,291146,3383,17:35,NaN
22,LOGISTA,27.100,1.50,0.40,16.47,27.240,26.640,143833,3598,17:36,NaN
23,MAPFRE,2.136,0.56,0.01,14.29,2.152,2.126,2857597,6578,17:35,NaN
24,MELIÁ HOTELS,7.820,0.26,0.02,31.21,7.820,7.730,352035,1724,17:35,NaN
25,MERLIN PROP.,10.630,0.19,0.02,7.97,10.670,10.560,394913,4994,17:37,NaN
26,NATURGY,20.960,0.87,0.18,-20.83,20.980,20.800,415788,20323,17:35,NaN
27,REDEIA,16.200,0.43,0.07,15.57,16.270,16.140,483424,8765,17:39,NaN
28,REPSOL,14.630,1.46,0.21,12.08,14.650,14.455,2540462,17811,17:43,NaN
29,ROVI,84.950,0.00,0.00,41.11,85.200,84.400,38990,4589,17:35,NaN
30,SACYR,3.408,1.01,0.03,11.15,3.408,3.376,990819,2598,17:35,NaN
31,SANTANDER,4.507,2.00,0.09,21.64,4.511,4.428,19993558,69833,17:35,NaN
32,SOLARIA,11.380,1.61,0.18,-38.85,11.400,11.190,290797,1422,17:35,NaN
33,TELEFÓNICA,3.980,0.61,0.02,16.84,3.993,3.949,5052126,22567,17:39,NaN
34,UNICAJA BANCO,1.294,1.65,0.02,51.98,1.296,1.272,2898039,3435,17:35,NaN

In [14]:
def limpia_tabla_acciones(datf: pd.DataFrame) -> pd.DataFrame:
    """Limpia el dataframe de la tabla de acciones del Ibex35 para que los datos sean coherentes"""
    _datf = deepcopy(datf)
    _datf.columns = ['ACCION', 'VALOR', 'VARIACION', 'VAR_VALOR', 'ACUMULADO_ANUAL', 'MAX', 'MIN', 'VOL', 'CAPIT', 'HORA', '_']
    _datf['FECHA'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
    return _datf[['ACCION', 'FECHA', 'VALOR', 'VARIACION', 'VAR_VALOR', 'ACUMULADO_ANUAL', 'MAX', 'MIN', 'VOL', 'CAPIT', 'HORA']]

In [15]:
ibex35 = limpia_tabla_acciones(tabla_cotizaciones)

In [16]:
ibex35

,ACCION,FECHA,VALOR,VARIACION,VAR_VALOR,ACUMULADO_ANUAL,MAX,MIN,VOL,CAPIT,HORA
0,ACCIONA,2024-07-04 23:53:54,108.900,1.68,1.80,-14.68,108.900,106.500,89391,5974,17:35
1,ACCIONA ENER,2024-07-04 23:53:54,19.070,0.00,0.00,-30.46,19.200,18.950,253769,6193,17:39
2,ACERINOX,2024-07-04 23:53:54,9.980,1.32,0.13,-3.35,9.980,9.820,652057,2700,17:35
3,ACS,2024-07-04 23:53:54,38.860,0.31,0.12,1.78,39.040,38.720,358195,10557,17:35
4,AENA,2024-07-04 23:53:54,191.000,-0.10,-0.20,21.51,192.500,190.700,87691,28650,17:35
5,AMADEUS IT GROUP,2024-07-04 23:53:54,63.360,0.03,0.02,-0.39,63.780,62.980,304103,28544,17:35
6,ARCELORMITTAL,2024-07-04 23:53:54,21.660,0.65,0.14,-14.93,21.710,21.550,96174,19013,17:35
7,BANCO SABADELL,2024-07-04 23:53:54,1.885,1.23,0.02,73.05,1.885,1.863,8079366,10258,17:43
8,BANKINTER,2024-07-04 23:53:54,7.784,2.56,0.19,38.43,7.786,7.600,1981489,6997,17:35
9,BBVA,2024-07-04 23:53:54,9.606,0.13,0.01,21.07,9.682,9.572,4806696,55362,17:35
10,CAIXABANK,2024-07-04 23:53:54,5.134,2.56,0.13,49.83,5.134,5.020,8163658,37314,17:35
11,CELLNEX TELECOM,2024-07-04 23:53:54,31.310,0.26,0.08,-12.17,31.350,31.030,680282,21270,17:35
12,COLONIAL,2024-07-04 23:53:54,5.590,0.27,0.02,-10.67,5.615,5.530,531098,3016,17:35
13,ENAGAS,2024-07-04 23:53:54,13.150,1.94,0.25,-7.00,13.150,12.910,797143,3445,17:42
14,ENDESA,2024-07-04 23:53:54,18.075,1.57,0.28,0.56,18.075,17.865,944067,19137,17:39
15,FERROVIAL,2024-07-04 23:53:54,37.140,0.43,0.16,12.48,37.240,36.860,842739,27684,17:35
16,FLUIDRA,2024-07-04 23:53:54,19.590,0.98,0.19,5.55,19.640,19.410,201178,3832,17:35
17,GRIFOLS,2024-07-04 23:53:54,8.630,2.49,0.21,-44.16,8.678,8.250,1891464,3678,17:42
18,IAG,2024-07-04 23:53:54,2.063,0.93,0.02,15.83,2.082,2.039,11196929,10256,17:35
19,IBERDROLA,2024-07-04 23:53:54,11.835,-0.80,-0.10,1.40,12.005,11.785,10149827,73850,17:37
20,INDITEX,2024-07-04 23:53:54,45.690,0.00,0.00,17.88,45.860,45.370,835088,142400,17:41
21,INDRA,2024-07-04 23:53:54,19.150,1.06,0.20,36.79,19.310,18.980,291146,3383,17:35
22,LOGISTA,2024-07-04 23:53:54,27.100,1.50,0.40,16.47,27.240,26.640,143833,3598,17:36
23,MAPFRE,2024-07-04 23:53:54,2.136,0.56,0.01,14.29,2.152,2.126,2857597,6578,17:35
24,MELIÁ HOTELS,2024-07-04 23:53:54,7.820,0.26,0.02,31.21,7.820,7.730,352035,1724,17:35
25,MERLIN PROP.,2024-07-04 23:53:54,10.630,0.19,0.02,7.97,10.670,10.560,394913,4994,17:37
26,NATURGY,2024-07-04 23:53:54,20.960,0.87,0.18,-20.83,20.980,20.800,415788,20323,17:35
27,REDEIA,2024-07-04 23:53:54,16.200,0.43,0.07,15.57,16.270,16.140,483424,8765,17:39
28,REPSOL,2024-07-04 23:53:54,14.630,1.46,0.21,12.08,14.650,14.455,2540462,17811,17:43
29,ROVI,2024-07-04 23:53:54,84.950,0.00,0.00,41.11,85.200,84.400,38990,4589,17:35
30,SACYR,2024-07-04 23:53:54,3.408,1.01,0.03,11.15,3.408,3.376,990819,2598,17:35
31,SANTANDER,2024-07-04 23:53:54,4.507,2.00,0.09,21.64,4.511,4.428,19993558,69833,17:35
32,SOLARIA,2024-07-04 23:53:54,11.380,1.61,0.18,-38.85,11.400,11.190,290797,1422,17:35
33,TELEFÓNICA,2024-07-04 23:53:54,3.980,0.61,0.02,16.84,3.993,3.949,5052126,22567,17:39
34,UNICAJA BANCO,2024-07-04 23:53:54,1.294,1.65,0.02,51.98,1.296,1.272,2898039,3435,17:35

In [ ]:
import psycopg

In [ ]:
connection_string = "postgresql://postgres:mysecretpassword@192.168.0.26/postgres"

In [ ]:
def test_postgres_connection(connection_string: str) -> list[tuple]:
# Connect to an existing database
    with psycopg.connect(conninfo=connection_string) as conn:
        # Open a cursor to perform database operations
        with conn.cursor() as cursor:
            cursor.execute("SELECT CURRENT_TIME;")
            ans = cursor.fetchall()
    return ans

In [ ]:
test_postgres_connection(connection_string)

In [ ]:
def create_table(connection_string: str):

    ddl_table = """
        CREATE TABLE public.ibex35 (
            accion varchar NOT NULL
            ,fecha timestamp NOT NULL
            ,valor numeric NOT NULL
            ,variacion numeric NOT NULL
            ,var_valor numeric NOT NULL
            ,acumulado_anual numeric NOT NULL
            ,max numeric NOT NULL
            ,min numeric NOT NULL
            ,vol numeric NOT NULL
            ,capit numeric NOT NULL
            ,hora varchar NOT NULL
        );"""

    with psycopg.connect(conninfo=connection_string) as conn:
        with conn.cursor() as cursor:
            cursor.execute(ddl_table)
        conn.commit()

In [ ]:
try:
    create_table(connection_string)
except psycopg.errors.DuplicateTable:
    pass

In [ ]:
def insert_data(connection_string: str, table_name:str, data: list[dict]):

    with psycopg.connect(conninfo=connection_string) as conn:
        with conn.cursor() as cursor:
            for data_to_insert in data:
                columns = ', '.join(data_to_insert.keys())
                values = tuple(data_to_insert.values())
                cursor.execute(f"INSERT INTO {table_name} ({columns}) VALUES {values}")

        conn.commit()

In [ ]:
data_to_insert = ibex35.to_dict('records')

In [ ]:
insert_data(connection_string=connection_string, table_name='IBEX35', data=data_to_insert)