In [1]:
import pandas as pd
from datetime import datetime
from copy import deepcopy

In [13]:
url = "https://www.expansion.com/mercados/cotizaciones/indices/ibex35_I.IB.html"

web = pd.read_html(url, encoding='ISO-8859-1')

for table in web:
    if 'Valor' in table.columns and 'Var.' in table.columns:
        tabla_cotizaciones = table
        break

ibex35_tmp = tabla_cotizaciones.iloc[:,:-1]

In [3]:
def limpia_tabla_acciones(datf: pd.DataFrame) -> pd.DataFrame:
    """Limpia el dataframe de la tabla de acciones del Ibex35 para que los datos sean coherentes"""
    _datf = deepcopy(datf)
    _datf.columns = ['ACCION', 'VALOR', 'VARIACION', 'VAR_VALOR', 'ACUMULADO_ANUAL', 'MAX', 'MIN', 'VOL', 'CAPIT', 'HORA']
    for col in ('VALOR', 'MAX', 'MIN'):
        _datf[col] = _datf[col] / 1000

    for col in ('VARIACION', 'VAR_VALOR', 'ACUMULADO_ANUAL'):
        _datf[col] = _datf[col] / 100

    _datf['VOL'] = _datf['VOL'].str.replace('.', '', regex=False)
    _datf['VOL'] = pd.to_numeric(_datf['VOL'])

    _datf['CAPIT'] = _datf['CAPIT'] * 1000
    _datf['CAPIT'] = _datf['CAPIT'].astype(int)
    _datf['FECHA'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
    return _datf[['ACCION', 'FECHA', 'VALOR', 'VARIACION', 'VAR_VALOR', 'ACUMULADO_ANUAL', 'MAX', 'MIN', 'VOL', 'CAPIT', 'HORA']]

In [4]:
ibex35 = limpia_tabla_acciones(ibex35_tmp)

In [5]:
ibex35

,ACCION,FECHA,VALOR,VARIACION,VAR_VALOR,ACUMULADO_ANUAL,MAX,MIN,VOL,CAPIT,HORA
0,ACCIONA,2024-07-04 00:02:56,107.100,1.42,1.50,-16.09,107.400,105.400,98273,5875,03/07
1,ACCIONA ENER,2024-07-04 00:02:56,19.070,-0.10,-0.02,-30.46,19.360,18.700,490024,6279,03/07
2,ACERINOX,2024-07-04 00:02:56,9.850,1.03,0.10,-4.61,9.870,9.745,779311,2665,03/07
3,ACS,2024-07-04 00:02:56,38.740,0.78,0.30,1.47,38.980,38.520,510035,10524,03/07
4,AENA,2024-07-04 00:02:56,191.200,1.59,3.00,21.64,191.800,187.800,186648,28680,03/07
5,AMADEUS IT GROUP,2024-07-04 00:02:56,63.340,2.33,1.44,-0.42,63.340,62.060,481880,28535,03/07
6,ARCELORMITTAL,2024-07-04 00:02:56,21.520,1.75,0.37,-15.48,21.700,21.370,183759,18890,03/07
7,BANCO SABADELL,2024-07-04 00:02:56,1.862,2.34,0.04,70.93,1.870,1.814,9581572,10132,03/07
8,BANKINTER,2024-07-04 00:02:56,7.590,-0.68,-0.05,34.98,7.740,7.590,1890916,6822,03/07
9,BBVA,2024-07-04 00:02:56,9.594,2.06,0.19,20.91,9.610,9.420,6969109,55293,03/07
10,CAIXABANK,2024-07-04 00:02:56,5.006,0.32,0.02,46.10,5.062,4.988,5270934,36384,03/07
11,CELLNEX TELECOM,2024-07-04 00:02:56,31.230,1.63,0.50,-12.40,31.290,30.480,1103384,21215,03/07
12,COLONIAL,2024-07-04 00:02:56,5.575,1.73,0.09,-10.91,5.575,5.480,868751,3008,03/07
13,ENAGAS,2024-07-04 00:02:56,12.900,0.86,0.11,-8.76,12.940,12.790,1389419,3380,03/07
14,ENDESA,2024-07-04 00:02:56,17.795,0.14,0.02,-1.00,17.915,17.705,1045185,18840,03/07
15,FERROVIAL,2024-07-04 00:02:56,36.980,1.99,0.72,11.99,37.060,36.280,814971,27565,03/07
16,FLUIDRA,2024-07-04 00:02:56,19.400,1.20,0.23,4.53,19.550,19.290,159457,3795,03/07
17,GRIFOLS,2024-07-04 00:02:56,8.420,5.81,0.46,-45.52,8.500,7.990,2976417,3588,03/07
18,IAG,2024-07-04 00:02:56,2.044,5.39,0.10,14.77,2.048,1.942,13903651,10162,03/07
19,IBERDROLA,2024-07-04 00:02:56,12.280,0.78,0.09,5.21,12.340,12.215,10321550,78878,03/07
20,INDITEX,2024-07-04 00:02:56,45.690,0.97,0.44,17.88,45.870,45.320,1840020,142400,03/07
21,INDRA,2024-07-04 00:02:56,18.950,-0.21,-0.04,35.36,19.120,18.790,428481,3348,03/07
22,LOGISTA,2024-07-04 00:02:56,26.700,0.75,0.20,14.75,26.820,26.620,92710,3544,03/07
23,MAPFRE,2024-07-04 00:02:56,2.124,-0.09,0.00,13.65,2.154,2.118,2773352,6541,03/07
24,MELIÁ HOTELS,2024-07-04 00:02:56,7.800,2.23,0.17,30.87,7.800,7.660,397961,1719,03/07
25,MERLIN PROP.,2024-07-04 00:02:56,10.610,1.05,0.11,7.77,10.610,10.440,580245,4984,03/07
26,NATURGY,2024-07-04 00:02:56,20.780,1.46,0.30,-21.51,20.900,20.560,421362,20149,03/07
27,REDEIA,2024-07-04 00:02:56,16.130,0.50,0.08,15.07,16.210,16.040,978625,8728,03/07
28,REPSOL,2024-07-04 00:02:56,14.920,-1.39,-0.21,14.30,15.160,14.775,4454267,18164,03/07
29,ROVI,2024-07-04 00:02:56,84.950,-1.62,-1.40,41.11,86.550,84.400,51608,4589,03/07
30,SACYR,2024-07-04 00:02:56,3.374,1.08,0.04,10.05,3.374,3.320,1486103,2572,03/07
31,SANTANDER,2024-07-04 00:02:56,4.418,2.20,0.09,19.25,4.423,4.341,19638324,68461,03/07
32,SOLARIA,2024-07-04 00:02:56,11.200,-0.53,-0.06,-39.82,11.430,11.170,718061,1399,03/07
33,TELEFÓNICA,2024-07-04 00:02:56,3.956,0.82,0.03,16.14,3.970,3.923,6566214,22431,03/07
34,UNICAJA BANCO,2024-07-04 00:02:56,1.273,0.24,0.00,49.52,1.286,1.271,3278098,3380,03/07

In [ ]:
import psycopg

In [ ]:
connection_string = "postgresql://postgres:mysecretpassword@192.168.0.26/postgres"

In [ ]:
def test_postgres_connection(connection_string: str) -> list[tuple]:
# Connect to an existing database
    with psycopg.connect(conninfo=connection_string) as conn:
        # Open a cursor to perform database operations
        with conn.cursor() as cursor:
            cursor.execute("SELECT CURRENT_TIME;")
            ans = cursor.fetchall()
    return ans

In [ ]:
test_postgres_connection(connection_string)

In [ ]:
def create_table(connection_string: str):

    ddl_table = """
        CREATE TABLE public.ibex35 (
            accion varchar NOT NULL
            ,fecha timestamp NOT NULL
            ,valor numeric NOT NULL
            ,variacion numeric NOT NULL
            ,var_valor numeric NOT NULL
            ,acumulado_anual numeric NOT NULL
            ,max numeric NOT NULL
            ,min numeric NOT NULL
            ,vol numeric NOT NULL
            ,capit numeric NOT NULL
            ,hora varchar NOT NULL
        );"""

    with psycopg.connect(conninfo=connection_string) as conn:
        with conn.cursor() as cursor:
            cursor.execute(ddl_table)
        conn.commit()

In [ ]:
try:
    create_table(connection_string)
except psycopg.errors.DuplicateTable:
    pass

In [ ]:
def insert_data(connection_string: str, table_name:str, data: list[dict]):

    with psycopg.connect(conninfo=connection_string) as conn:
        with conn.cursor() as cursor:
            for data_to_insert in data:
                columns = ', '.join(data_to_insert.keys())
                values = tuple(data_to_insert.values())
                cursor.execute(f"INSERT INTO {table_name} ({columns}) VALUES {values}")

        conn.commit()

In [ ]:
data_to_insert = ibex35.to_dict('records')

In [ ]:
insert_data(connection_string=connection_string, table_name='IBEX35', data=data_to_insert)